.signin {
  display: none;
}
.signin_active {
  display: block;
}
.control {
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    font-family: Golos, Arial, sans-serif;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}

.btn {
  font-family: Golos, Arial, sans-serif;
  color: #fff;
  background-color: #06f;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 20px 0;
  overflow: hidden;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  transition: 0.3s ease;
  text-decoration: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 500;
  box-shadow: none;
}

.welcome {
  display: none;
}

.welcome_active {
  display: block;
  text-align: center;
}
