.autocomplete__input {
  display: none;
}

.autocomplete__value {
  width: 200px;
  box-shadow: 0 0 5px gray;
  border-radius: 6px;
  padding: 4px;
  position: relative;
}

.autocomplete__value:hover {
  background: rgb(225, 225, 225);
}

.autocomplete__search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0;
  padding: 5px;
}

.autocomplete__search_active {
  display: inline-block;
}

.autocomplete__list {
  list-style-type: none;
  display: none;
  padding: 0;
}

.autocomplete__list li {
  cursor: pointer;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.autocomplete__list_active {
  display: inline-block;
}